# Project Data
uploads/
processed/
zips/
app_data/
weights/
logs/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
*.log

# OS
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# Large binaries/embedded repos
project-repo/
docker-compose
